# Python
backend/.venv/
.venv/
__pycache__/
*.pyc

# Node / React
frontend/node_modules/
node_modules/

# Environment variables / secrets
.env
*.env
backend/.env
frontend/.env

# IDE / OS
.vscode/
.DS_Store
Thumbs.db